body {
  font-family: Arial;
  background: #1e1e1e;
  color: white;
}

textarea {
  width: 100%;
  height: 300px;
  background: #fff;
  color: #000;
}

.MenuContainer {
  width: 80%;
  margin: auto;
  background: #017070;
  margin-bottom: 5px;
}

.TreeContainer {
  display: flex;
  width: 80%;
  margin: auto;
  gap: 5px;
}

.EditContainer {
  width: 80%;
  margin: auto;
}

#tree {
  /* background: #252526; */
  /* background: #017070; */
  /* padding: 10px; */
  /* width: 300px; */
  /* width: 50%; */
  /* max-height: 350px; */
  /* height: 400px; */
  /* overflow: auto; */
  /* overflow-y: auto; */
  margin: 5px 0;
}

.tree-item {
  cursor: pointer;
  padding-left: 10px;
  margin-bottom: 5px;
}

.folder {
  color: #4fc1ff;
}

.file {
  color: #dcdcaa;
}

#repos {
  /* width: 50%; */
  /* background: #017070; */
  margin: 5px 0;
  /* max-height: 350px; */
  /* overflow-y: auto; */
}
#repos li {
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 5px;
  color: #4fc1ff;
}

.contenedor-scroll {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  /* border: 1px solid #444; */
  padding: 8px;
}

.repos,
.tree {
  width: 50%;
  background: #017070;
}
